<ion-content>
  <ion-img class="us-img" src="/assets/images/Us.JPG" alt="Cameron and Sydney Paschke"></ion-img>
  <ion-text class="us-txt">
    We are Cameron and Sydney Paschke. Cameron is a software engineer and I am a real estate agent specializing in investment properties at Keller Williams.

    I have lived here for over 20 years and Cameron attended college at College of the Ozarks. In 2019 we listed our personal home on AirBnB and would pack up and go to my parents house when our house would get booked. We did this for 9 months until we decided it was getting a little old. So we decided to build! We searched for several months to find land that allowed nightly rentals. I just happened to drive down Deer Valley Dr and saw a for sale sign. The last lot available! So our journey began!

    Cameron and his dad spent their evenings after work and weekends building the house. We started in August and went live in February! We have loved every second of hosting families. I love meeting and getting to know everyone we get to host. I strive to be the best host possible, so if you need anything please reach out!
  </ion-text>
  <div class="image-wrapper">
    <ion-img class="lower-image" src="/assets/images/DeerValleyExcavation.JPG" alt="Deer Valley Excavation"></ion-img>
    <ion-img class="lower-image" src="/assets/images/SydFlex.JPG" alt="Sydney Flexing"></ion-img>
    <ion-img class="lower-image" src="/assets/images/DadOnLift.JPG" alt="Dad On Lift Siding"></ion-img>
    <ion-img class="lower-image" src="/assets/images/BackView.JPG" alt="Dad On Lift Siding"></ion-img>
    <ion-img class="lower-image" src="/assets/images/NightWork.JPG" alt="Dad On Lift Siding"></ion-img>
    <ion-img class="lower-image" src="/assets/images/InsideProgress.JPG" alt="Dad On Lift Siding"></ion-img>
  </div>
</ion-content>
